@model User;

@{
    ViewData["Title"] = "Default";
}

@if (Model == null)
{
    <h3 id="location-name">Welcome to The 'Land!</h3>
    <p class="intro-text">Whether you are just a visitor to Cleveland who is interested in what our city has to offer or a resident of the area hoping to expand your knowledge of the city we know and love, WalkCLE has what you are looking for. You an use the site as a visitor, or you can register with us to get additional features. Whatever you choose, just be sure to keep it 216.</p>
}
else
{
    <p class="latent"></p>
}