@model List<Badge>
@{
    ViewData["Title"] = "AllBadges";
}
<div class="all-badges">
    <h2>All Available Badges</h2>

    @foreach (var badge in Model)
    {
        <img src="~/images/@(badge.Image).svg" alt="Description Image" class="detail-image" />
        <p>@badge.BadgeName</p>
        <p>@badge.BadgeCriteria</p>
    }
</div>