@{
    ViewData["Title"] = "Home Page";
}

<p>Hello World</p>

<div class="nearby-map">
    <div id="map"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key="
            async defer></script>