@{
    ViewData["Title"] = "Home Page";
}

<div class="home-wrapper">
    <div class="nearby-map">
        <div id="map"></div>
    </div>
    <div class="location-name">
    </div>
</div>

<template id="nearbyLocation">
    <div class="location">
        <label id="location-number">Number</label>
        <a href="" class="click-link">
        <!--<a asp-controller="location" asp-action="detail" asp-route-id="">-->
            <label id="location-name">Name</label>
        </a>
        <label id="location-desc">Description</label>
        <hr />
    </div>
</template>

<script src="https://maps.googleapis.com/maps/api/js?key="
            async defer></script>