@{
    ViewData["Title"] = "Home Page";
}

@if(TempData["checkedin"] != null)
{
    <p><i id="check" class="fas fa-check-circle"></i> You've checked in!</p>
}

<div class="home-wrapper">
    <div class="nearby-map">
        Number of locations to show:
        <form name="radio-buttons">
            <label class="checkbox-container">
                &nbsp;&nbsp;&nbsp;5
                <input type="radio" checked name="radio" value="5" onclick="getNearbyLocations(youAreHere, 5)" />
                <span class="checkmark"></span>
            </label>
            <label class="checkbox-container">
                &nbsp;&nbsp;&nbsp;10
                <input type="radio" name="radio" value="10" />
                <span class="checkmark"></span>
            </label>
            <label class="checkbox-container">
                &nbsp;&nbsp;&nbsp;15
                <input type="radio" name="radio" value="15" />
                <span class="checkmark"></span>
            </label>
        </form>

        <div id="map"></div>
    </div>
    <div class="location-name" id="locations">

    </div>
</div>

<template id="nearbyLocation">
    <div class="location">
        <label id="location-number">Number</label>
        <a class="click-link">
            <label id="location-name">Name</label>
        </a>
        <label id="location-desc">Description</label>
        <label id="distance-from-user">Distance</label>
        <form asp-controller="location" asp-action="checkin">
            <input type="hidden" name="id"/>
            <input type="hidden" class="distance" name="distanceFromUser" />
            <button id="check-in-button" class="hidden" type="submit">Check In</button>
        </form>
        <hr />
    </div>
</template>

@*<script src="https://maps.googleapis.com/maps/api/js?key="
        async defer></script>*@
<script src="~/js/site.js"></script>