.container.body-content {
    padding-top: 25px;
}

body {
    background-color: rgb(12, 12, 62);
    font-family: Montserrat;
    font-weight: bold;
}

/*for map container*/
#map {
    height: 400px;
    width: 650px;
}
/* for div that map sits within*/
.nearby-map {
    height: 90%;
    width: 90%;
    margin: 0;
    grid-area: map;
    font-weight:
}

/*Banner*/
li.white-font {
    color: #fff;
    padding-top: 15px;
}

li a {
    color: #fff;
}

#title-font {
    color: #fff;
    font-size: 75px;
    padding-top: 40px;
}

.navbar-inverse {
    background-color: rgb(12, 12, 62);
    border-color: rgb(12, 12, 62);
}

.navbar-header {
    font-family: "Merienda";
}

.nav .navbar-nav {
    color: #fff;
}

/*Login-in/Register Styling*/
.login-background-img {
    background-image: url(../images/CLESkylineNight.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding-top: 70px;
}

.register-background-img {
    background-image: url(../images/CLESkylineNight.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding-top: 70px;
}

.login-container {
    margin-left: 37%;
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 5px 0;
    border: none;
    background: #f1f1f1;
}

input, select, textarea {
    color: #000;
}

.error-message {
    display: block;
    color: yellow;
}

.center-text {
    text-align: center;
    color: #fff;
}

/*Button styling*/
.button {
    background-color: white;
    color: black;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 16px;
    border: 2px solid #008CBA;
    margin-left: 40%;
}

.button:hover {
     background-color: #008CBA;
     color: white;
}

/*Home page styling*/
.home-wrapper {
    display: grid;
}

.location-name {
    grid-area: info;
    height: 400px;
    overflow: scroll;
    background: transparent;
    padding: 15px;
}

.location {
    color: #fff;
}

#location-number, #location-name {
    font-size: 1.5em;
    font-family: Merienda;
}

#location-desc {
    font-family: Montserrat;
    font-weight: 100;
}
a.click-link {
    color: aqua;
}
a.click-link:hover {
    color: #fff;
    text-shadow: 2px 2px 4px #cad4da;
}


/*Scrollbar styling*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*Detail page style*/
div.image-details-container {
    font-family: Montserrat;
    color: white;
}

div.image-details-container h2 {
    font-family: Merienda;
}

div.image-details-container img {
    position: relative;
    width: 50%;
}

div.image-details-container i {
    font-size: 3em;
}

/*Media queries*/
@media only screen and (min-width: 768px) {
    div.home-wrapper {
        grid-template-columns: 1fr 1fr;

        grid-gap: 15px;

        grid-template-areas:
            'map info';
    }
}
