body {
    font-family: Montserrat;
    font-weight: bold;
    color: black;
    padding-bottom: 250px;
}

#body2 {
    background-color: rgb(12, 12, 62);
}

#navbar2 {
    background-color: rgb(12, 12, 62);
    border-color: rgb(12, 12, 62);
}

a {
    color: #3D7FAB;
}

/*for map container*/
#map {
    height: 89%;
    width: 100%;
}

/* for div that map sits within*/
.nearby-map {
    height: 100%;
    width: 100%;
    margin: 0;
    grid-area: map;
}

.directions-container {
    padding: 25px 0 0 60px;
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-gap: 10px;
}

.latent {
    display: none;
}

.directions-map {
    height: 100%;
    width: 100%;
    grid-area: directions-map;
    border: 2px solid #0e3a6a;
}

.directions-route {
    background-color: white;
    height: 100%;
    width: 100%;
    overflow: scroll;
    grid-area: route;
    border: 2px solid #0e3a6a;
}

/*Banner*/
#title-font {
    color: #fff;
    font-size: 75px;
}

.container {
    padding-bottom: 50px;
}

.navbar-inverse {
    background-color: #0e3a6a;
    border-color: #0e3a6a;
    margin-bottom: 0;
    color: #fff;
}

.navbar-header {
    font-family: "Merienda";
}

.search-grid {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    color: #337ab7;
    align-content: center;
    align-items: center;
    width: 100%;
}

#search-terms {
    background-color: lightgrey;
}

.search-bar {
    background-color: #fff;
    flex-grow: 1;
}

.search-form {
    display: inline;
    text-align: right;
    flex-grow: 1;
    padding-right: 25px;
}

.search-bar a {
    font-size: 3em;
    margin-right: 8px;
    margin-left: 8px;
}

.category-label {
    padding-left: 25px;
}

.intro-text {
    margin: 0 35px 0 35px;
}

.welcome-banner {
    background-color: rgba(255, 255, 255, .75);
}
#cle-welcome {
    margin-left: 35px;
}

.profile .search-form {
    display: none;
}

.detail .search-form {
    display: none;
}

#view-badges {
    font-size: 15px;
    text-align: right;
    flex-grow: 10;
    color: #E95537;
}

/*Radio Buttons*/
.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    padding-right: 25px;
    margin: 0 10px 10px 10px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: solid;
    border-color: black;
    border-width: 1px;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: inline-block;
}

.checkbox-container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: black;
}

/*Login-in/Register Styling*/
.login-background-img {
    background-image: url(../images/CLESkylineNight.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding-top: 70px;
}

.register-background-img {
    background-image: url(../images/CLESkylineNight.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding-top: 70px;
}

.login-container {
    margin-left: 37%;
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
}

    .login-container input[type=text], input[type=password], input[type=email] {
        width: 100%;
        padding: 15px;
        margin: 10px 0 10px 0;
        border: none;
        background: #f1f1f1;
        display: inline;
    }

.search-form input[type=text] {
    margin: 10px 0 10px 0;
    border: none;
    background: #f1f1f1;
    display: inline;
}

.btn btn-default {
    display: inline;
}

input, select, textarea {
    color: #000;
}

.error-message {
    display: block;
    color: yellow;
}

.center-text {
    text-align: center;
    color: #fff;
}

/*Button styling*/
.button {
    background-color: white;
    color: #008CBA;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 16px;
    border: 2px solid #008CBA;
    margin-left: 35%;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}

#check-in-button {
    background-color: white;
    color: #008CBA;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 14px;
    border: 2px solid #008CBA;
    display: inline;
}

    #check-in-button:hover {
        background-color: #008CBA;
        color: white;
    }

#search {
    background-color: white;
    color: #008CBA;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 14px;
    border: 2px solid #008CBA;
    display: inline;
}

    #search:hover {
        background-color: #008CBA;
        color: white;
    }

/*Home page styling*/
.home-wrapper {
    display: grid;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 15px 0 15px 0;
}

.location-name {
    grid-area: info;
    height: 400px;
    overflow: scroll;
    background: transparent;
    padding: 15px;
    margin-top: 35px;
}

.location hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: lightgray;
}

#location-number {
    display: inline;
    font-size: 1.5em;
    font-family: Merienda;
    color: #3D7FAB;
}

#location-name {
    font-size: 1.5em;
    font-family: Merienda;
    display: inline;
}

#location-desc {
    font-family: Montserrat;
    font-weight: 400;
    color: #000;
}

#distance-from-user {
    font-size: 1.25em;
    font-family: Merienda;
    color: #000;
}

a.click-link {
    color: #3D7FAB;
}

    a.click-link:hover {
        color: #6BB2EF;
        text-shadow: 2px 2px 4px #cad4da;
    }


/*Scrollbar styling*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*Detail page style*/
div.image-details-container {
    font-family: Montserrat;
    color: black;
    display: grid;
    background-color: rgba(255, 255, 255, .75);
    margin: 0 15px 0 15px;
    padding: 15px;
}

div.image-details-container h2 {
    font-family: Merienda;
}

div.image-details-container img {
    position: relative;
    width: 100%;
}

div.image-details-container i {
    font-size: 3em;
}

.directions-button {
    display: inline-block;
    color: black;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-top: 10px;
}

.detail-image {
    box-shadow: 8px 8px 5px black;
}

.details {
    grid-area: details;
}

.detail-cats {
    display: inline;
}

.name-container {
    display: grid;
    align-items: flex-end;
}

.detail-name {
    grid-area: detail-name;
}

.detail-checkin {
    grid-area: detail-checkin;
    padding: 0 0 10px 0;
}

/*Category Search Styles*/
.category-container {
    display: grid;
}

.category-image {
    grid-area: category-image;
    position: relative;
    width: 100%;
}

.location-info {
    grid-area: location-info;
    color: #fff;
}

#activities :hover {
    color: blue;
    text-shadow: 2px 2px 4px darkgray;
}

#masks :hover {
    color: purple;
    text-shadow: 2px 2px 4px darkgray;
}

#beer :hover {
    color: yellow;
    text-shadow: 2px 2px 4px darkgray;
}

#monument :hover {
    color: gray;
    text-shadow: 2px 2px 4px darkgray;
}

#tree :hover {
    color: darkgreen;
    text-shadow: 2px 2px 4px darkgray;
}

#utensils :hover {
    color: silver;
    text-shadow: 2px 2px 4px black;
}

#bag :hover {
    color: deeppink;
    text-shadow: 2px 2px 4px darkgray;
}

#ball :hover {
    color: orange;
    text-shadow: 2px 2px 4px darkgray;
}

#photos :hover {
    color: darkturquoise;
    text-shadow: 2px 2px 4px darkgray;
}

.bottom-fixed {
    position: fixed;
    bottom: 0px;
    z-index: -1;
    width: 100%;
}

.category-location-name {
    grid-area: info;
    height: 400px;
    overflow: scroll;
    background: transparent;
    padding: 15px;
    /*margin-top: 35px;*/
}

/*Logged in partial View*/
.loggedin-greeting {
    color: white;
    margin: 15px 0 0 0;
}

li input#logout {
    padding: 15px;
    border: none;
    background-color: #0E3A6A;
    color: white;
    font-size: 14px;
    display: inline;
}

    li input#logout:hover {
        color: #9d9d9d
    }

#profile-button {
    color: white;
}

    #profile-button:hover {
        color: #9d9d9d;
    }

#check {
    color: green;
    font-size: 25px;
}

/*Profile View*/
.profile {
    background-color: rgba(255, 255, 255, .75);
}

.profile-container {
    display: grid;
    background-color: rgba(255, 255, 255, .75);
    padding: 25px 0 0 0;
}

.profile-header {
    font-family: "Merienda";
    margin: 0px;
    padding: 10px 0 10px 0;
    color: #103F9D;
}

.profile-greeting {
    margin: 0 0 10px 0;
}

.profile-info {
    margin: 0px;
}

.check-in {
    grid-area: check-in;
}

.badges {
    grid-area: badges;
}

/*All Badges Styling*/
.all-badges {
    background-color: rgba(255, 255, 255, .75);
}

.all-badges hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: lightgray;
}


/*Media queries*/
@media only screen and (min-width: 769px) {
    div .home-wrapper {
        grid-template-columns: 500px auto;
        grid-gap: 15px;
        grid-template-areas: 'map info';
    }

    div.image-details-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas: 'image details';
    }

    div.name-container {
        grid-template-columns: auto auto;
        grid-template-areas: 'detail-name detail-checkin';
    }

    div.category-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'category-image location-info';
    }

    div.directions-container {
        grid-template-columns: 500px 500px;
        grid-template-rows: 500px auto;
        grid-template-areas: 'directions-map route';
    }

    div.profile-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas: 'check-in badges';
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    div.home-wrapper {
        grid-gap: 20px;
        grid-template-areas: 'map' 'info';
    }

    div.image-details-container {
        grid-template-rows: auto auto;
        grid-gap: 20px;
        grid-template-areas: 'image' 'details';
    }

    div.name-container {
        grid-template-columns: 100px auto;
        grid-template-areas: 'detail-name detail-checkin';
    }

    div.directions-container {
        grid-template-rows: 400px auto;
        grid-template-areas: 'directions-map' 'route';
    }

    div.profile-container {
        grid-template-rows: 400px auto;
        grid-gap: 20px;
        grid-template-areas: 'check-in badges';
    }
}

@media only screen and (max-width: 480px) {
    div.home-wrapper {
        grid-template-rows: 400px;
        grid-gap: 15px;
        grid-template-areas: 'map' 'info';
    }

    div.image-details-container {
        grid-template-rows: auto auto;
        grid-gap: 20px;
        grid-template-areas: 'image' 'details';
    }

    div.name-container {
        grid-template-columns: 100px auto;
        grid-template-areas: 'detail-name detail-checkin';
    }

    div.directions-container {
        grid-template-rows: 200px;
        grid-template-areas: 'directions-map' 'route';
    }

    div.profile-container {
        grid-template-rows: auto auto;
        grid-gap: 20px;
        grid-template-areas: 'check-in' 'badges';
    }
}
