@model Location

@{
    ViewData["Title"] = "Detail";
}

<body>
    <div class="image-details-container">
        <img src="~/images/@(Model.Photo)" alt="@(Model.Photo) Image" />
        <div>
            <h2>@Model.Name</h2>
            <p></p>
        </div>
    </div>
</body>