<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Walk CLE</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="https://fonts.googleapis.com/css?family=Merienda:700|Montserrat:100,200,300" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <script src="https://maps.googleapis.com/maps/api/js?key="></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link href="https://fonts.googleapis.com/css?family=Merienda:700|Montserrat:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="title-font" asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><i class="fas fa-walking"></i> Walk CLE</a>
            </div>
            <div class="navbar-collapse collapse">
                @await Component.InvokeAsync("AuthenticatedUser", new { User })
            </div>
        </div>
    </nav>
    <nav class="navbar search-bar">
        <div class="search-grid">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
            </button>
            <label class="category-label">Category Search:</label>
            <a asp-controller="search" asp-action="category" asp-route-cat="activities" title="Activities" id="activities"><i class="fas fa-swimmer"></i></a>
            <a asp-controller="search" asp-action="category" asp-route-cat="artsculture" title="Arts & Culture" id="masks"><i class="fas fa-theater-masks"></i></a>
            <a asp-controller="search" asp-action="category" asp-route-cat="bars" title="Bars" id="beer"><i class="fas fa-beer"></i></a>
            <a asp-controller="search" asp-action="category" asp-route-cat="historical" title="Historical" id="monument"><i class="fas fa-monument"></i></a>
            <a asp-controller="search" asp-action="category" asp-route-cat="parks" title="Parks" id="tree"><i class="fas fa-tree"></i></a>
            <a asp-controller="search" asp-action="category" asp-route-cat="photoops" title="Photo Ops" id="photos"><i class="fas fa-camera-retro"></i></a>
            <a asp-controller="search" asp-action="category" asp-route-cat="restaurants" title="Restaurants" id="utensils"><i class="fas fa-utensils"></i></a>
            <a asp-controller="search" asp-action="category" asp-route-cat="shopping" title="Shopping" id="bag"><i class="fas fa-shopping-bag"></i></a>
            <a asp-controller="search" asp-action="category" asp-route-cat="sports" title="Sports" id="ball"><i class="fas fa-football-ball"></i></a>

            <a asp-controller="home" asp-action="allbadges" id="view-badges">View All Badges</a>

            <form name="search" class="search-form">
                <label>Keyword Search:</label>
                <input id="search-terms" type="text" name="name" value="" />
                <button id="search">Search</button>
            </form>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />
    @await Component.InvokeAsync("GreetingForVisitor", new { User })
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p id="white-font">&copy; 2018 - Walk CLE</p>
        </footer>
    </div>

    <div>
        <img src="~/images/colorful-cle.jpg" class="bottom-fixed" />
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>

    <partial name="_ValidationScriptsPartial" />

    @RenderSection("Scripts", required: false)
</body>
</html>
