    @model User
@{
    ViewData["Title"] = "Profile";
}

<body class="profile">
    <h2 class="profile-header">Profile</h2>

    <!--This is the area that will display the user information-->
    <div class="profile">
        <h2 class="profile-greeting">Hello, @Model.Username!</h2>
        <p class="profile-info">
            Hello and welcome to your profile! Here you can see all the locations that you have checked in, as well as the badges that you have earned!

            @*If you need to, you can change your password here as well.*@
        </p>
    </div>

    <div class="profile-container">
        <!--This is where the user's check-in history is displayed.-->
        <div class="check-in">
            <h2 class="profile-header">Your Check-Ins!</h2>

        </div>

        <!--This is where the users Awards are displayed.-->
        <div class="badges">
            <h2 class="profile-header">Your Badges!</h2>

        </div>

    </div>

    <!--template used for checkins-->
    <template id="check-in">
        <div class="check-in">
            <label>Location:</label>
            <a class="location-name"></a>
            <br />
            <label class="date-earned">Date:</label>
            <span class="date-earned"></span>
        </div>
    </template>

    <!--template used for badges-->
    <template id="badge">
        <div class="badges">
            <img class="badge-image" />
            <h3 class="badge-name"></h3>
            <p class="badge-description"></p>
            <p class="badge-criteria"></p>
        </div>
    </template>

    <!--scripts used on profile page-->
    <script src="~/js/profile.js"></script>

</body>