@model WebApplication.Web.Models.Account.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout_2.cshtml";
    ViewData["Title"] = "Register";
}

<body>
    <div class="register-background-img">

        <form class="login-container" asp-controller="Account" asp-action="Register" method="post">
            <h2 class="center-text">Register</h2>

            <element class="error-message"><strong>@Html.ValidationMessage("username-taken")</strong></element>
            <label asp-for="Username"></label>
            <input asp-for="Username" />

            <br />

            <label asp-for="Email">Email</label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
            <br />

            <label asp-for="Password">Password</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
            <br />

            <label asp-for="Password">Confirm Password</label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
            <br />

            <input class="button" type="submit" value="Register" />
        </form>
    </div>
</body>
