@model Category

@{
    ViewData["Title"] = "Category";
}

<p class="hidden">@Model.Name</p>
<div class="home-wrapper">
    <div class="nearby-map">
        <div id="map"></div>
    </div>
    <div class="category-location-name" id="locations">
    </div>
</div>

<template id="nearbyLocation">
    <div class="location">
        <label id="location-number">Number</label>
        <a class="click-link">
            <label id="location-name">Name</label>
        </a>
        <label id="location-desc">Description</label>
        <label id="distance-from-user">Distance</label>
        <form asp-controller="location" asp-action="checkin">
            <input type="hidden" name="id" />
            <button id="check-in-button" class="hidden" type="submit">Check In</button>
        </form>
        <hr />
    </div>
</template>

@*<script src="https://maps.googleapis.com/maps/api/js?key="
        async defer></script>*@
<script src="~/js/category.js"></script>

