@model User

@{
    ViewData["Title"] = "AuthenticatedUser";
}

@if (Model == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="white-font" asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
        <li><a class="white-font" asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="loggedin-greeting"><i>Greetings and Salutations, @Model.Username &nbsp; &nbsp;</i></li>
        <li>
            <form asp-controller="Account" asp-action="LogOff" method="post" class="logout">
                <input id="logout" type="submit" value="Logout">
            </form>
        </li>
        <li>
            <a asp-controller="account" asp-action="profile" asp-route-userid="@Model.Id" id="profile-button">Profile</a>
        </li>
    </ul>
}
