@model User

@{
    ViewData["Title"] = "AuthenticatedUser";
}

@if (Model == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="white-font" asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
        <li><a class="white-font" asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a class="white-font" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="white-font">Greetings and Salutations, @Model.Username</li>
        <li>
            <form asp-controller="Account" asp-action="LogOff" method="post">
                <input id="logout" type="submit" value="Logout">
            </form>
        </li>
        <li><a class="white-font" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
    </ul>
}
